$gray: #F5F5F5;
$blue: #2196F3;
$white: #FFFFFF;
$dark: #757575;
$aqua: #17a2b8;
$text: #495057;
@import "animations";



body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:16px;
  background-color: $gray;
}

nav{
  grid-area: header;
  background-color: $blue;
      line-height: 1rem;
  padding:20px;
  h1{
    margin: 0;
    color: $white;
  }
}
main{
  grid-area: main;
   padding:20px;
}
aside{
  grid-area: sidebar;
  background-color: $white;
  padding:20px;

}
footer{
  grid-area: footer;

   text-align: center;
}

.container{
  display: grid;
  grid-gap: 10px;

  #cards{
  display:grid;
  grid-gap:20px;
  grid-template-columns: repeat(2,1fr);
    margin-bottom:20px;
    .post {
      border: 1px solid $dark;
      border-radius: 5px;
      padding: 1rem;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
    }
  }
}
.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  color: #fff;

  &.active{
    color: #fff;
    background-color:$aqua;
  }
  &.noactive{
    color: #fff;
    background-color: $dark;
  }
}
label{
  display: inline-block;
  width: 100px;
  padding: 5px;
}
select, input{
    color: $text;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    width: 100px;
}

@import "mediaqueries";
